<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Error</title>
</head>
<body>
    <div class="notification is-danger">
        <p class="title">Login failed! Please try again.</p>
        <a th:href="@{/login}" class="button is-link">Go to Login</a>
    </div>
</body>
</html>
