<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Index Page</title>
</head>
<body>
    <div class="container">
        <h1 class="title">Welcome to the Home Page!</h1>
        <a class="login-link" th:href="@{/login}">
            <button class="button is-primary login-button">Go to Login</button>
        </a>
    </div>
</body>
</html>

